/* ====================================== SPACE BACKGROUND ====================================== */

#space {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: radial-gradient(circle at center, #020617 0%, #000 100%);
}


/* ✨ AI Glow Effect */
#space::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;

  background:
    radial-gradient(circle at 20% 30%, rgba(34,211,238,0.1), transparent 40%),
    radial-gradient(circle at 80% 70%, rgba(167,139,250,0.1), transparent 40%);
}

/* ========================================== BODY ========================================== */

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: white;
  overflow-x: hidden;

  /* to ACTIVE the professional button*/
  cursor: none;
}

section {
  scroll-margin-top: 80px; 
}

/* ========================================== LOADER ========================================== */

/* page loading begins */
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #0a174ae3;
  z-index: 999;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  to { opacity: 0; visibility: hidden; }
}

/* ========================================= HEADER / NAV ========================================= */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  backdrop-filter: blur(20px);
  background: rgba(10,15,30,0.6);
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

/* Glow border */
.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg,#22d3ee,#a78bfa,#22d3ee);
  opacity: 0.4;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 50px;
}

/* LOGO */
.logo {
  font-size: 22px;
  font-weight: bold;
  background: linear-gradient(90deg,#22d3ee,#a78bfa);
  -webkit-background-clip: text;
  color: transparent;
}

/* MENU */
.nav-menu {
  position: relative;
  display: flex;
  gap: 30px;
}

/* LINKS */
.nav-link {
  position: relative;
  text-decoration: none;
  color: #94a3b8;
  font-weight: 500;
  padding: 8px 12px;
  transition: 0.3s ease;
}

/* hover glow */
.nav-link:hover {
  color: #fff;
  text-shadow: 0 0 10px #22d3ee;
}

/* active */
.nav-link.active {
  color: #fff;
}

/* MAGIC HOVER BACKGROUND */
.nav-link::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  background: linear-gradient(90deg,#22d3ee33,#a78bfa33);
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}

.nav-link:hover::before {
  opacity: 1;
}

/* INDICATOR */
.nav-indicator {
  position: absolute;
  bottom: -6px;
  height: 3px;
  width: 0;
  border-radius: 10px;
  background: linear-gradient(90deg,#22d3ee,#9e80f7);
  box-shadow: 0 0 10px #22d3ee;
  transition: all 0.35s ease;
}

/* MOBILE */
.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

@media (max-width: 768px) {

  .nav-menu {
    position: absolute;
    top: 80px;
    right: 20px;
    flex-direction: column;
    background: rgba(10,15,30,0.95);
    padding: 25px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    display: none;
    gap: 15px;
  }

  .nav-menu.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}

#mode-toggle {
  background: #d5caca1e;  
  border-radius:  15px ;
  padding: 10px;
  margin: 9px; 
  border: none;            
  outline: none;            
  cursor: pointer;
  font-size: 20px;           
  color: inherit;           
}

/* ========================================= HOME ========================================= */

.hero {
  text-align: center;
  padding: 120px 20px;
}

/* name in dark */
.hero span {
  background: linear-gradient(90deg, #13077fa1, #e7e8f547, #13077fa1); 
  -webkit-background-clip: text;
  color: transparent;
}

.hero h2 {
  font-size: 50px;
  background: linear-gradient(90deg,#22d3ee,#a78bfa);
  -webkit-background-clip: text;
  color: transparent;
  margin: 20px;
}

.hero p {
  font-size: 20px;
  margin: 1px 0 10px 0;
  text-align: center; /* لتوسيط المسميات */
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* ========================================== BUTTON ========================================== */

/* Main button */
.magnetic {
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  background: linear-gradient(90deg,#025865c8,#13077fa1);
  color: #ffffff;
  padding: 18px 35px;
  font-size: 19px;
  font-weight: bold;
  border-radius: 400px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Hover */
.magnetic:hover {
  box-shadow: 0 0 20px #0a616e, 0 0 40px #1e0147;
  transform: scale(1.05);
}

/* الأيقونة */
.magnetic .arrow {
  transition: transform 0.3s ease;
}

/* حركة احترافية */
.magnetic:hover .arrow {
  transform: translateY(5px);
}
.magnetic .arrow {
  animation: float 1.5s infinite ease-in-out;
}

@keyframes float {
  0%,100% { transform: translateY(0); }
  50% { transform: translateY(9px); }
}

 
/* ========================================== CURSOR ========================================== */

/* indicator او المؤشر */
.cursor {
  width: 20px;
  height: 20px;
  border: 2px solid #22d3ee;
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.15s ease;
}

/* ========================================== TYPING ========================================== */

.typing {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.typing .text {
  color: #22d3ee; 
}

.typing::after {
  content: "|";
  margin-left: 5px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

/* =================================== GLASS SECTIONS =================================== */

.glass {
  margin: 40px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 15px;
  border: 1px solid rgba(255,255,255,0.08);
}

.glass:hover{
  transform: translateY(-15px) scale(1.05) rotateX(2deg) rotateY(2deg);
  box-shadow: 0 0 50px #22d3ee, 0 0 30px #a78bfa;
  perspective: 1000px; 
} 

/* ====================================== ABOUT ====================================== */

.about-container {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  gap: 50px;
  margin-top: 40px;
  align-items: center;
}

.about-text h3 {
  font-size: 1.8rem;
  text-align: left;
  margin-bottom: 10px;
}

.about-text p {
  opacity: 0.8;
  line-height: 1.6;
  margin-bottom: 10px;
  /* text-align: justify; */
}

.about-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 18px;
}

.card {
  position: relative;
  padding: 22px 25px;
  border-radius: 18px;
  background: rgba(255,255,255,0.04);
  backdrop-filter: blur(12px);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.card:hover::before {
  opacity: 2;
}

/* Hover effect */
.card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 15px 40px rgba(0,0,0,0.25);
}

.card h4 {
  margin-bottom: 6px;
  font-size: 1.05rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.card p {
  opacity: 0.8;
  font-size: 0.9rem;
}

.card i {
  font-size: 1.2rem;
  margin-right: 8px;
  color: #00f7ff;
  transition: 0.3s;
}

.card:hover i {
  transform: scale(1.2) rotate(8deg);
  color: #2e28e6;
}

.typing::after {
  content: "|";
  margin-left: 5px;
  animation: blink 0.7s infinite;
}

/* Responsive */

@media (max-width: 768px) {
  .about-container {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .about-cards {
    grid-template-columns: 1fr;
  }
}
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

/* ====================================== TECH STACK ====================================== */

.skills {
  margin-top: 30px;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.icon {
  padding: 10px 18px;
  border-radius: 10px;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.1);
  transition: 0.3s;
  cursor: pointer;
}

.icon:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 0 20px #22d3ee;
}

/* ========================================= STATS ========================================= */

.stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.stats div {
  text-align: center;
}

.stats h2 {
  color: #22d3ee;
  font-size: 30px;
}

/* ======================================= EXPERIENCE ======================================= */

.timeline {
  position: relative;
  margin-top: 30px;
  padding-left: 30px;
  border-left: 2px solid rgba(255,255,255,0.1);
}

.timeline-item {
  position: relative;
  margin-bottom: 30px;
}

.timeline-dot {
  position: absolute;
  left: -9px;
  top: 5px;
  width: 14px;
  height: 14px;
  background: #22d3ee;
  border-radius: 50%;
  box-shadow: 0 0 10px #22d3ee;
}

.timeline-content {
  background: rgba(255,255,255,0.05);
  padding: 18px 20px;
  border-radius: 15px;
  transition: 0.3s;
}

.timeline-content:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 25px rgba(34,211,238,0.2);
}

/* الصف العلوي */
.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-row h3 {
  font-size: 1.1rem;
  font-weight: 700;
}

.top-row img {
  width: 75px;
  height: 75px;
  object-fit: contain;
  margin-right: 20px;
  margin-top: 20px;
}

/* الدور */
.role {
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 5px;
}

/* التاريخ */
.date {
  display: block;
  font-size: 0.8rem;
  opacity: 0.6;
  margin-bottom: 8px;
}

/* الوصف */
.timeline-content p {
  font-size: 0.9rem;
  line-height: 1.6;
  opacity: 0.85;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 768px) {
  .timeline {
    padding-left: 20px;
  }

  .top-row img {
    width: 35px;
    height: 35px;
  }
}

/* ====================================== PROJECT GRID ====================================== */

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  margin-top: 30px;
}

/* الكارد */
.project-card {
  background: rgba(255,255,255,0.05);
  border-radius: 60px;
  overflow: hidden;
  transition: all 0.3s ease;
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255,255,255,0.08);
  display: flex;
  flex-direction: column;
}

/* Hover احترافي */
.project-card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 0 25px rgba(34,211,238,0.2),
              0 0 40px rgba(167,139,250,0.15);
}

/* الصورة */
.project-card img {
  width: 100%;
  height: 310px;
  object-fit: cover;
}

/* المحتوى */
.project-content {
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* العنوان */
.project-content h3 {
  font-size: 1.1rem;
  font-weight: bold;
}

/* الوصف */
.project-content p {
  font-size: 0.9rem;
  opacity: 0.8;
  line-height: 1.5;
}

/* الزر */
.project-btn {
  margin-top: 10px;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  background: linear-gradient(90deg,#22d3ee,#a78bfa);
  color: #fff;
  transition: 0.3s;
}

/* Hover button */
.project-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #22d3ee;
}

/* ====================================== REVEAL ON SCROLL ====================================== */

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: 1s;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* =========================================== Contact ========================================= */

.contact {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
}

.contact a {
  display: inline-block;
}

.contact img.contact {
  width: 40px;  
  height: 40px;
  transition: transform 0.3s ease;
}

.contact img.contact:hover {
  transform: scale(1.2);
}

.contact-form {
  max-width: 300px;
  margin: 0 auto 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.contact-form button {
  background: linear-gradient(90deg,#025865c8,#13077fa1);
  color: #ffffff;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.contact-form button:hover {
  background: linear-gradient(90deg,#025865c8,#13077fa1);
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.social-links img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}
.social-links img:hover {
  transform: scale(1.2);
}

/* ======================================== LIGHT MODE ======================================== */

body.dark-mode .typing .text {
  color: #1f2937; 
}

body.dark-mode .typing .name {
  background: linear-gradient(90deg, #1e1549c7, #524786c7, #1e1549c7); 
  -webkit-background-clip: text;
  color: transparent;
}

/* main font ----------------------------------------------- */

body.dark-mode {
  background: #fdfaf6; 
  color: #374151; 
}

/* nav bar and borders ------------------------------------ */

body.dark-mode header {
  background: linear-gradient(90deg,#0f104880,#1e1549c7);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

/* Logo --------------------------------------------------- */

body.dark-mode .logo {
  color: #ffffff;
}

/* MENU --------------------------------------------------- */

body.dark-mode nav a {
  color: #ffffff;
}

body.dark-mode .nav-indicator {
  background: linear-gradient(90deg,#d57fed,#63a0d9);
  box-shadow: 0 0 10px #63a0d9;
}

body.dark-mode .header::after {
  background: linear-gradient(90deg,#f6189d,#268290,#f6189d);
  border-radius: 8px;
}


/* color font for MENU ------------------------------------ */

body.dark-mode nav a:hover {
  color: #ffffff;
  box-shadow: 0 0 40px #1e1549c7;
  background: linear-gradient(90deg,#ff000033,#3905d433);
  border-radius: 8px;

}

/* glasses and transparency ------------------------------ */

body.dark-mode .glass {
  background: rgba(255, 255, 255, 0.26);
  backdrop-filter: blur(14px);
  border: 1px solid rgba(0,0,0,0.05);
}

body.dark-mode .glass:hover {
  box-shadow: 0 0 40px #1e1549c7;
}

/* card project ------------------------------------------ */

body.dark-mode .project {
  background: rgba(255, 255, 255, 0.26);
}

/* الوهج للبروجكت ---------------------------------------*/

body.dark-mode .project:hover {
  box-shadow: 0 0 40px #1e1549c7;
}

/* لون المؤشر ------------------------------------------ */

body.dark-mode .cursor {
  border: 2px solid #374151;
}

/* الزر الرئيسي -----------------------------------------*/

body.dark-mode .magnetic {
  background: linear-gradient(90deg,#0f104880,#1e1549c7);
  color: #ffffff;
}

body.dark-mode .magnetic:hover {
  box-shadow: 0 0 40px #1e1549c7;
}

/* لون الايقونات وبوردرها  ----------------------------- */

body.dark-mode .icon {
  background: rgba(255,255,255,0.6);
  border: 1px solid rgba(0,0,0,0.05);
}

body.dark-mode .icon:hover {
  box-shadow: 0 0 20px #1e1549c7;
}

/* GPA and color Name ----------------------------------- */

body.dark-mode #about .typing .text {
  color: rgba(116, 42, 150, 0.868);
}

body.dark-mode .about h3 {
  color: #938c8c71;
}

body.dark-mode .card i{
  color: rgb(171, 41, 232);
}

body.dark-mode .card {
  background: rgba(255,255,255,0.6);
}

body.dark-mode .card:hover i{
  color: rgb(106, 4, 74);
}

/* Background color space -------------------------------- */

body.dark-mode .stats h2 {
  color: #374151;
}

body.dark-mode #space {
  background: radial-gradient(circle at center, #7ba1dd70 0%, #7ba1dd50 100%);
}

body.dark-mode #space::after {
  background:
    radial-gradient(circle at 20% 30%, rgba(236,72,153,0.12), transparent 40%),
    radial-gradient(circle at 80% 70%, rgba(168,85,247,0.12), transparent 40%);
}


/* Projects Section --------------------------- */

body.dark-mode .project-card {
  background: rgba(255,255,255,0.6);
}

body.dark-mode .project-btn {
  background: linear-gradient(90deg,#0f104880,#1e1549c7);
  color: #ffffff;
}


/* Contact me -------------------------------- */

.dark-mode .contact img.contact {
  filter: brightness(0.9);
}

.dark-mode .contact-form button {
  background: linear-gradient(90deg,#0f104880,#1e1549c7);
  color: #fff;
}

.dark-mode .contact-form button:hover {
  box-shadow: 0 0 40px #1e1549c7;
}

/* EXPERIENCE -------------------------------- */

body.dark-mode .timeline {
  border-left: 2px solid rgba(0,0,0,0.1);
}

body.dark-mode .timeline-dot {
  background: rgb(171, 41, 232);
  box-shadow: 0 0 10px  rgb(171, 41, 232);
}

body.dark-mode .timeline-content {
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(0,0,0,0.05);
}

body.dark-mode .timeline-content:hover {
  box-shadow: 0 0 25px rgba(30, 21, 73, 0.2);
}

/* النصوص */
body.dark-mode .top-row h3 {
  color: #1f2937;
}

body.dark-mode .role {
  color: #374151;
}

body.dark-mode .date {
  color: #6b7280;
}

body.dark-mode .timeline-content p {
  color: #374151;
}

/* ============================================================================================== */

